@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Magra-Bold';
  src: url('./fonts/Magra/Magra-Bold.ttf');
}

@font-face {
  font-family: 'Source Sans Pro SemiBold';
  src: url('./fonts/Source_Snat_Pro/SourceSansPro-SemiBold.ttf');
}

@font-face {
  font-family: 'Kanit-Light';
  src: url('./fonts/Kanit/Kanit-Light.ttf');
}

/* font-title */
.magra-bold {
  font-family: 'Magra-Bold';
}

src/css/styles.css

/* font-subTitle */
.source-sans-pro {
  font-family: 'Source Sans Pro SemiBold';
}

/* font-paragraph */
.kanit-ligth {
  font-family: 'Kanit-Light';
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
  color: aliceblue;
  border-radius: 8px;
  margin: 15% auto;
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

button:disabled {
  background-color: gray;
  color: gainsboro;
  cursor: not-allowed;
}

@media (min-width: 640px) {
  .menu-home {
    margin-right: 496px;
  }
}

@media (min-height: 1024px) {
  .setctionRegistroUsuario {
    height: 100vh
  }
  .setctionConfigCombat {
    height: 100vh
  }
}

/* dropdown home-menu */
.menu {
  display: none;
  position: absolute;
  top: 60px;
  right: -20px;
  padding: 8px 0;
  border-radius: 10px;
  border: 1px solid rgb(19 19 19 / 78%);
  box-shadow: 0 40px 40px rgb(0 0 0 / 38%);
  transition: 0.25s;
}

.show {
  display: block;
  display: grid;
  width: 180px;
}

.menu::before {
  content: "";
  background: inherit;
  border-top: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  position: absolute;
  top: -7px;
  right: 22px;
  width: 12px;
  height: 12px;
  rotate: -45deg;
}

.hover-custom:hover {
  background-color: rgb(152 153 155 / 15%);
}

::-webkit-calendar-picker-indicator{
  background-color: #ffffff;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}